#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.login {
  position: relative;
  padding-bottom: 30px;
}

.buttonLogin {
  position: absolute;
  right: 10px;
  bottom: 2px; 
}

.register {
  position: relative;
  padding-bottom: 30px;
}

.buttonRegister{
  position: absolute;
  right: 10px;
  bottom: 2px; 
}

label {
  display: flex;
  align-items: center; 
}

input {
  margin-left: auto;
}

.accueil {
  position: relative;
  padding-top: 10px;
}

.userLogout {
  font-size: 10px;
  position: absolute;
  background-color: grey;
  color: white;
  border: 0px;
  top: 0;
  right: 0;
}

.buttonLogout {
  border: 0px;
  background-color: grey;
  color: white;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.listGroup {
  display: flex;
}

.mygroups, .admin {
  flex: 1;
}

.addMember {
  font-size: 15px;
}

.memberList {
  margin-top: 10px;
}

.listEmail {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonDelete {
  position: absolute;
  right: 10px;
  bottom: 0; 
}

.groupMessages {
  padding: 0;
  height: 120px;
  overflow: auto;
}

.myMessage, .otherMessage {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myMessage .messageContent {
  position: absolute;
  right: 0;
  border-radius: 8px;
  border: 2px solid black;
  padding-right: 5px;
  padding-left: 5px;
  margin: 2px;
}

.myMessage .messageAuthor {
  visibility: hidden;
}

.otherMessage .messageContent {
  border-radius: 8px;
  border: 2px solid black;
  padding-right: 5px;
  padding-left: 5px;
  margin: 2px;
}

.otherMessage .messageAuthor {
  font-size: 15px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 2px;
  position: absolute;
  right: 60px;
}

.inputMessage {
  position: relative;
  margin-bottom: 10px;
}

.buttonEnvoyer {
  position: absolute;
  right: 0;
}

.clicked {
  font-weight: bold;
}